body {
    background-color: white;
    font-family: "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: gray;
}

.feed {
    flex-direction: column;
    background-color: rgb(240, 240, 240);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

section {
    display: flex;
}

.menu {
    width: fit-content;
    margin-right: 6em;
}

.menu-item {
    max-height: 1.5em;
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
    font-size: larger;
    font-weight: bold;
    padding-left: 0.7em;
}

    .menu-item > span {
        margin-left: 1.3em;
    }
    .menu-item > img {
        max-width: 1.3em;
    }

    .menu-item.big {
        max-height: 4em;
        max-width: 3em;
        padding-left: 0em;
    }

    .menu-item.big > img {
        max-height: 4em;
        max-width: 3em;
    }

    .menu-item:hover{
        color: #007aff;
    }

#home {
    font-weight: bold;
    font-size: larger;
    padding: 0.8em 0.8em;
}

#form {
    min-height: 6em;
    height: 7em;
    margin-bottom: 0.7em;
}
    #form form {
        box-sizing: border-box;
        padding: 0.2em 0.2em;
        width: 100%;
        height: 5em;
    }

    form input {
        border-style: hidden;
        width: 100%;
        height: 100%;
        font-size: medium;
    }

.footer-icon {
    height: 1em;
}
    

.post {
    margin: 0.05em 0.05em;
    padding: 0.5em 0.5em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
    .post-banner {
        height: 4em;
        padding: 0.2em;
        display: flex;
    }

        .post-banner > img {
            height: 3.3em;
        }

        .box {
            display: flex;
            height: 1em;
            box-sizing: border-box;
            padding: 0.1em;
            column-gap: 5px;
            font-weight: bold;
            margin: 0.5em 0em;
        }

    .content {
        margin: 0.5em 0.5em;
        max-width: 100%;
    }

    .footer * {
        max-height: 2em;
    }



#left {
    min-width: 26%;
    justify-content: flex-end;
}

#middle {
    max-width: 40%;
}

#right {
    min-width: 34%;
}

.suggestions {
    max-width: 20em;
}

.suggestions > img {
    max-height: 40em;
}


/* Large */

@media screen and (min-width: 980px) {
    
}

/* Medium */

@media screen and (max-width: 980px) {
    
    #left {
        min-width: 26%;
    }

    #middle {
        max-width: 74%;
    }

    #right {
        display: none;
    }
}

/* Small */

@media screen and (max-width: 820px) {
    
    #left {
        min-width: 10%;
    }

    #middle {
        max-width: 90%;
    }

    .menu-item span {
        display: none;
    }
}

/* Mobile */

@media screen and (max-width: 620px) {
    
    #left {
        min-width: 10%;
    }

    .menu {
        margin-right: 0.5em;
    }

    #middle {
        max-width: 85%;
    }

    .menu-item span {
        display: none;
    }
}