<!DOCTYPE html>
<html>
    <head>
        <title>OnlyFens</title>
		<meta charset="utf-8" />
        <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/index.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial">
    </head>
    <body>
        <div class="container">

            <!-- Left -->
            <section id="left">
                
                <nav class="menu">
                    <a class="menu-item big" href="/" style="margin-top: 0em;">
                        <img src="/static/user.png">
                        <span>
                            
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/home.png">
                        <span>
                            Home
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/notifications.png">
                        <span>
                            Notifications
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/chat.png">
                        <span>
                            Messages
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/bookmark.png">
                        <span>
                            Bookmarks
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/list.png">
                        <span>
                            Lists
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/subs.png">
                        <span>
                            Subscriptions
                        </span>
                    </a>
                    <a class="menu-item" href="/">
                        <img src="/static/menu/card.png">
                        <span>
                            Add cart
                        </span>
                    </a>
                    <a class="menu-item big" href="/">
                        <img src="/static/menu/plus.png">
                        <span>
                            
                        </span>
                    </a>
                </nav>
            </section>

            <!-- Middle -->
            <section id="middle" class="feed">

                <div id="home" class="post">
                    HOME
                </div>
                <div id="form" class="post">
                    <form   class=""
                            action="/publish" 
                            method="POST" 
                            enctype="multipart/form-data">
                        <input id="text-field" type="text" name="text" placeholder="Compose new post...">
                        
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input id="image-field" type="file" name="file" hidden>
                        <label for="image-field">
                            <img src="/static/import_image.png" style="max-height: 1.2em;">
                        </label>
                    </form>
                </div>
                {% for post in posts %}
                <div class="post">
                    <div class="post-banner">
                        <img src="/static/logo.png">
                        <div style="margin-left: 0.5em;">
                            <div class="box">
                                <span>OnlyFens</span>
                                <img src="/static/verified.png">
                            </div>
                            <span style="color: lightgray;">@onlyfens</span>
                        </div>
                    </div>
                    <div class="content">
                        {{post.text}} 
                        <br>
                        {% if post.posts_id %}
                            <br>
                            <img src="image/{{post.posts_id}}">
                        {% endif %}
                    </div>
                    <div class="footer">
                        <img src="/static/footer.png">
                        <a href="/delete/{{ post.id }}" id="delete_btn">
                            <img src="/static/delete.png" style="max-height: 0.6m;">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </section>

            <!-- Right -->
            <section id="right">
                <div class="suggestions">
                    <img src="/static/suggestions.png">
                </div>
            </section>
            
        </div>
        
    </body>
</html>