<!DOCTYPE html>
<html>
    <head>
        <title>OnlyFens</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/index.css" />
    </head>
    <body>
        <div class="container">

            <section id="left" class="box">
                <span>left</span>
            </section>

            <section id="middle" class="feed box">
                <div id="home" class="post">
                    HOME
                </div>
                <div id="form" class="post">
                    form
                </div>
                <div class="post">
                    <div class="header">
                        header
                    </div>
                    <div class="content">
                        content
                    </div>
                    <div class="footer">
                        footer
                    </div>
                </div>
                <div class="post">
                    <div class="header">
                        header
                    </div>
                    <div class="content">
                        content
                    </div>
                    <div class="footer">
                        footer
                    </div>
                </div>
                <div class="post">
                    <div class="header">
                        header
                    </div>
                    <div class="content">
                        content
                    </div>
                    <div class="footer">
                        footer
                    </div>
                </div>
            </section>

            <section id="right" class="box">
                <span>right</span>
            </section>
            
        </div>
        
    </body>
</html>